doctype html
html
  head
    title List of Books
  body
    h1 List of Books
    ul
      each book in books
        li
          a(href=`/books/${book.id}`)= book.name
    p
      a(href='/books/new') Add a New Book
